@tailwind base;
:root{
  --secondary : var(--color-button-base-hover);
  --primary: #f5e4bc;
}
/* #AC3D32 */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}


*::-webkit-scrollbar {
  width: 15px;
  /* box-shadow: inset 0 0 0 8px rgba(0,0,0,.3); */
  
}

*::-webkit-scrollbar-track {
  background: var(--primary);

  border-radius: 5px;
  /* box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,0.1); */

}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Coconat';
  src: url(/fonts/Coconat-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Coconat';
  src: url(/fonts/Coconat-BoldExt.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ignazio';
  src: url(//fonts/Ignazio.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3 {
  font-family: 'Coconat';
}
p,a,input{
  font-family: 'Ignazio';
}

*{
  margin: 0;
  padding: 0;
  /* overflow-x: visible; */
  /* background-color: #e7e5e4; */
}

@layer base {
  h1  {@apply text-2xl}
  h2  {@apply text-xl}
  h3  {@apply text-lg}
}
@layer base{
  :root{
    --color-text-base: #2d411b ; /*base work for text color*/
    --color-text-muted :  #333333; /*muted work for opposite of text   */
    --color-text-base-inverted : #f4805b;
    --color-text-muted-inverted : #ffffff;
    --color-card-base-primary: #e3e3e3; /*card base pri color work for card text color*/
    --color-card-base-secondary:  #e7e5e4; /*card base sec work for card text color*/
    --color-button-base: #f5e4bc ;
    --color-button-base-hover: #f4805b ;
    --color-button-muted: #2d411b;
    --color-button-muted-hover: #f4805b ;
    --color-fill : #f9d5ca;
  }
  .theme-dark {
    --color-card-base-primary:  #fffff;
    --color-card-base-secondary: #545454;
    --color-text-base : #ffffff ;
    --color-text-base-hover : #000000;
    --color-text-muted: #000000;
    --color-text-muted-hover: #ffffff;
    --color-button-base: #19a419;
    --color-button-base-hover: #d8ffcb ;
    --color-button-muted: #19a419;
    --color-button-muted-hover: #d8ffcb ;
    --color-fill : #191919;
  }
}

@media (max-width: 620px) {
  @layer base{
    :root { 
      overflow-x: visible;
  }
}
}

        /* 'xss': '380px',
        'xs' : '500px',
        'sm': '640px',
        'md': '768px',
        'md+': '900px',
        'lg': '1024px',
        'xl': '1280px',
        '2xl': '1536px', */

@layer components {
  .bg_text {
    @apply font-semibold tracking-tight flex flex-col absolute left-[5.5%] w-4/5 h-[90%] top-[60%] text-[24px] translate-y-[-50%]       xss:text-[25px]       xs:h-auto xs:text-[25px] xs:top-[23%]       sm:text-3xl sm:w-5/6 sm:top-[24%]        md:text-4xl md:w-1/2 md:tracking-normal md:top-[30%]       md+:w-[32%] md+:top-[45%] md+:tracking-widest        lg:w-1/3
  }
  .get_in_touch {
    @apply text-base font-semibold text-[#f4805b] border-2 border-[#f4805b] rounded-full flex justify-center items-start overflow-hidden tracking-tight absolute hover:animate-pulse hover:scale-105 duration-300 ease-in w-max h-10 py-2 px-5 bottom-20 left-[50%] translate-x-[-50%]           xs:left-0 xs:translate-x-0 xs:bottom-[-30%] sm:bottom-[-40%]         md:bottom-[-20%] md:tracking-normal md:mt-10        xl:bottom-[-40%]   
  }
  .back_text {
    @apply bg_text  absolute h-screen hidden text-opacity-40 gap-y-10 md:flex flex-col mix-blend-soft-light justify-end text-right  blur-[1px]  top-[51%]  leading-[1.35] text-8xl w-full  left-0   md+:w-4/5 md+:left-[20%] lg+:w-3/4 xl:w-2/3 lg+:left-[33.4%] xl:text-9xl   
  }
  .pfp_image {
    @apply  border-b-2 rounded-xl border-[#f4805b] px-9  hover:py-4 hover:px-12 absolute  my-auto bottom-1/2 left-[4px] hover:translate-y-[14px] hover:translate-x-[-8px] duration-500 hover:border-x-2 hover:border-t-2
  } 
  .leaf {
    @apply  rounded-full h-full  shadow-gray-500 shadow-md hover:shadow-none transition duration-300 ease-in hover:scale-90  mx-auto overflow-hidden  object-contain
      }
      .leaf-div{
        /* @apply gap-0 bg-pink-500 h-10 */
      }
      /* .leaf-div>span{
        @apply h-full bg-slate-600
      } */
  .skill_text {
    @apply w-full text-center  text-2xl font-semibold  mt-4        
  }
}

.home {
font-family: 'Coconat';

height: 100vh;
}
.skills {
  font-family: 'Coconat';
}

.sec_part{
  /* display: flex; */
  /* letter-spacing: 10px; */
   writing-mode: vertical-lr;
}

/* .icons  a:hover {
  transform: none;
} */
/* .icons  a:hover  {
  transform: translateY(100%);
} */

.header_link>button::after{
  position: relative;
  display: flex;
  content: '';
  width: 0%;
  height: 3px;
  border-radius: 4px;
  color: #1B1212;
  background-color: #6d6d6d;
  transition: 0.5s;
}
.header_link>button:hover::after{
  width: 100%;
}

.img_div{
  position: relative;
  top: 50%;
  right: 0;
  left:55%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 500px;
  width: 500px;
}

.round_img{
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 400px;
  position: absolute;
  background: url(assets/IMG-20190701-WA0001_-_Copy-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.round_text{
  position: absolute;
  height: 100%;
  width: 100%;
 

  animation: rotateText 15s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
  
}
/* .elastic_line:hover{
  transition:  .5s cubic-bezier(.785,.135,.15,.86),opacity .3s ease-in-out,-webkit-transform .5s cubic-bezier(.785,.135,.15,.86);
  transform: translate3d(-100%,0,0);
  transition-delay: 0s;
} */


.round_text span{
  /* color: #1B1212; */
  position: absolute;
  left: 50%;
  font-size: 2.2em;
  transform-origin: 0px 250px;
} 

@media (min-width: 1024px) and (max-width: 1280px){
  .img_div{
    left:50%
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .round_text span{
    transform-origin: 0px 225px;
  } 
  .img_div{
    left: 50%;
    height: 450px;
    width: 450px;

  }
  
  .round_img{
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .round_text span{
    transform-origin: 0px 225px;
  } 
  .img_div{
    top:70%;
    left: 45%;
    height: 450px;
    width: 450px;
  }
  .round_img{
    width: 350px;
    height: 350px;
  }

  
}
@media (min-width: 641px) and (max-width: 768px) {
  .round_text span{
    transform-origin: 0px 210px;
  } 
  .img_div{
    left: 55%;
    transform: translateX(-50%);
    height: 420px;
    width: 420px;
  }
  .round_img{
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 500px) and (max-width: 640px) {
  .round_text span{
    transform-origin: 0px 210px;
  } 
  .img_div{
    top:45%;
    left: 30%;
    left: 57%;
    transform: translateX(-50%);
    height: 420px;
    width: 420px;
  }
  .round_img{
    width: 320px;
    height: 320px;
  }
}
/* @media (min-width: 380px) and (max-width: 500px) {
  .round_text span{
    transform-origin: 0px 188px;
  } 
  .img_div{
    top:34%;
    left: 56%;
    transform: translateX(-50%);
    height: 380px;
    width: 380px;
  }
  .round_img{
    width: 280px;
    height: 280px;
  }
} */
  @media (max-width: 500px) {
    .round_text span{
      transform-origin: 0px 143px;
      font-size:  1.7rem;
      left: 50%;
      top: 4%
  /* transform-origin: 0px 250px; */
    } 
    .img_div{
      left: 56%;
      transform: translateX(-50%);
      height: 310px;
      width: 310px;
    }
    .round_img{
      width: 210px;
      height: 210px;
    }
  }
#tree-image{
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* background-color: #000; */
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 30px;
  height: 5px;
  background: #171717;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  transition: all .5s ease-in-out;

}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 5px;
  background: #171717;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0,0,0,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.leaf{
  height: 2rem;
  width: 2rem;
  /* display: flex; */
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9,.card10,.card11,.card12,.card13,.card14,.card15, .card16, .card17{
  
  /* position: absolute;
  top: 50%;
  left: 20%;
  z-index: 1; */
  border : 4px solid  #dfd3c3;
  /* border-radius: 0 150px; */
  /* border: 2px solid #d8ffcb ; */
  /* background-color: rgb(55 65 81); */
  /* box-shadow:   2px 2px 5px  rgba(255, 255, 255, .4),-2px -2px 5px rgba(255, 255, 255, .4); */
}

.images{
  /* margin-inline: 100%; */
  height: 10rem;
  width: 14rem;
  /* margin-inline: auto; */
  margin-top: 20px;
  
  /* background-position: center; */
  /* background: #000; */
  border-radius: 50%;
  animation: wiggle 6s ease-in-out infinite;
}

@keyframes wiggle {
  0% ,100%{
    background-size: 100% 100%;
    border-top-left-radius: 60%;
    border-top-right-radius: 40% 30%;
    border-bottom-left-radius: 70% 40%;
    border-bottom-right-radius: 30% 70%;
  } 
  50%{
    background-size: 300% 150%;
    border-top-left-radius: 30% 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40% 60%;
    border-bottom-right-radius: 70% 30%;
  }
}

/* .skill_text {
  text-shadow: .1px .1px 3px rgb(255 255 255/.9);
} */
.suiiii{
  content: "";
}
.skills_heading {
  animation: marquee 50s linear infinite;

}
@keyframes marquee {
  from {
    left: 0%;
  }
  to {
    left:-50%
  }
}
.elements {
  flex-shrink: 0;
  width: 100%;
  /* margin-block: auto; */
}
.scroll-div{
  will-change: transform;
  transform: translate3d(0vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}


/* .leaf-div>span{
  background-image: url(/assets/Star1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 0 60%;
  height: 50px;
  width: 50px;
  object-fit: contain;
  background-color: #d7b487;
  padding: auto;
  z-index: 10px;
} */

.shaded
{
  box-shadow:  0 4px 8px rgba(255, 255, 255, 0.3), 0 4px 3px rgb(0 0 0 / 0.1);
  transform: translate3d(0%,0%,100px);
  color: black;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.insta:hover{
  transition: all 0.3s linear;
  background:  radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}


/* .mid:hover {
  transform: translate3d(0,0,100px)
} */